[Unit]
Description=Clean ranger image cache weekly
[Timer]
OnCalendar=weekly
Persistent=true
Unit=trash-empty.service
[Install]
WantedBy=timers.target
