[Unit]
Description=EOS update notifier runs periodically (weekly) and soon after a reboot

[Timer]
Persistent=true
OnStartupSec=300 seconds
OnCalendar=monthly
# Persistent=true
 
[Install]
WantedBy=timers.target
