[Unit]
Description=EOS update notifier runs periodically (weekly) and soon after a reboot

[Timer]
RandomizedDelaySec=10min
Persistent=true
# OnStartupSec=
OnCalendar=weekly

 
[Install]
WantedBy=timers.target
