[Unit]
Description=rclone
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount yandex: /run/media/huyhoang/remote/rclone_yandex/ --vfs-cache-mode writes --vfs-cache-max-size 50G --vfs-cache-max-age 5m --network-mode --timeout 60m
ExecStop=/bin/fusermount -u /run/media/huyhoang/remote/rclone_yandex/

[Install]
WantedBy=default.target
